// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';
.chat-room-body{
    height: 400px;
    overflow-y: auto;
    margin-bottom: 80px;
}
.py-3{
    padding:10px 20px;
}
.nav-tabs{
    border-radius: 0;
}
.loader {
    border: 2px solid #008080;
    border-right-color: transparent;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 0.5s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }