<template>
    <div class="chat-room">
        <aside class="left-side">
            <div class="user-head">
                <i class="fa fa-comments-o"></i>
                <a href="#" class="chat-tools btn-success" data-toggle="modal" data-target="#NewCustomer"><i class="fa fa-plus-circle"></i> </a>
                <h3>Bite Chat</h3>
            </div>
            <section class="">
                <header class="">
                    <ul class="nav nav-tabs nav-justified">
                        <li class="active">
                            <a data-toggle="tab" href="#active">Active Chats</a>
                        </li>
                        <li class="">
                            <a data-toggle="tab" href="#inactive">Inactive Chats</a>
                        </li>
                    </ul>
               </header>
                <div class="tab-content">
                    <div id="active" class="tab-pane active">
                        <div class="text-muted py-3" v-if="!ActiveClients.length && !isloading">
                            No Active Customers
                        </div>
                        <ul class="chat-list chat-user">
                            <li v-for="(customer, c) in ActiveClients" :key="c" :class="(ActiveCustomer) ? { active:ActiveCustomer.id == customer.id}:''">
                                <a href="#" @click.prevent="GetChats(customer.id,true)">
                                    <i class="fa fa-circle text-success" v-if="UnreadCount(customer.id)"></i>
                                    <span>{{customer.name}} ({{customer.number}})</span>
                                    <span v-if="UnreadCount(customer.id)" class="badge bg-important pull-right">{{UnreadCount(customer.id)}}</span>
                                </a>
                            </li>
                        </ul>                            
                    </div>
                    <div id="inactive" class="tab-pane">
                        <div class="text-muted py-3" v-if="!InActiveClients.length && !isloading">
                            No Closed Chats
                        </div>
                        <ul class="chat-list chat-user">
                            <li v-for="(customer, u) in InActiveClients" :key="u" :class="(ActiveCustomer) ? { active:ActiveCustomer.id == customer.id}:''">
                                <a href="#" @click.prevent="GetChats(customer.id,true)">
                                    <i class="fa fa-circle text-success" v-if="UnreadCount(customer.id)"></i>
                                    <span>{{customer.name}} ({{customer.number}})</span>
                                    <span v-if="UnreadCount(customer.id)" class="badge bg-important pull-right">{{UnreadCount(customer.id)}}</span>
                                </a>
                            </li>
                        </ul>                         
                    </div>
             </div>
            </section>
        </aside>
        <aside class="mid-side">
            <div class="chat-room-head">
                <div v-if="ActiveCustomer">
                    <h3>{{ActiveCustomer.name}}</h3>
                    <button class="pull-right position btn btn-danger" @click.prevent="EndChat">End Chat</button>
                </div>
            </div>
            <div class="chat-room-body" v-if="ActiveCustomer" id="chat_list">
                <div class="group-rom" v-for="(message, m) in ActiveCustomer.chats" :key="m">
                    <div v-if="message.message == 'Chat Closed'" class="text-center text-muted">
                        {{message.message}} at {{ message.created_at | moment("MMMM Do YYYY, h:mm") }}
                    </div>
                    <div v-else>

                    <div class="first-part" style="width:60%;">
                        <strong v-if="message.author == 'customer'">{{ActiveCustomer.name}} ({{ActiveCustomer.number}})</strong>
                        <strong v-else>Me</strong> 
                        <br>
                        {{message.message}}
                        <p v-if="message.media" style="min-height:40px;">
                            <a :href="message.media" target="_blank">
                                <img :src="message.media" alt="" style="width:80px;">
                            </a>
                        </p>                        
                    </div>
                    <small class="third-part" style="width:40%;text-align:right;">{{ message.created_at | moment("MMMM Do YYYY, h:mm") }}<br></small>                    
                    </div>
                </div>
                <div class="group-rom" v-if="!ActiveCustomer.chats.length">
                    <div class="py-3 text-center text-muted">No Messages</div>
                </div>                
            </div>
            <footer>
                    <form v-if="ActiveCustomer" @submit.prevent="SendMessage">
                        <strong class="text-success" v-if="file">Sending File : {{file.name}} <a href="#" @click.prevent="file = null">Remove</a> </strong>
                        <br/>
                        <div class="chat-txt" v-if="ActiveCustomer.status !==0">
                            <input type="text" v-model="text" class="form-control">
                            <input type="file" ref="file" style="display:none;" class="btn btn-sm" @change="SendFile">
                        </div>
                        <div class="btn-group">
                            <button type="button" @click="$refs.file.click()" class="btn btn-white"><i class=" fa fa-paperclip"></i></button>
                        </div>
                        <button class="btn btn-danger" type="submit">Send </button>
                    </form>
            </footer>
        </aside>
        <aside class="right-side">
            <div class="user-head">
                <a href="#" class="chat-tools btn-primary" v-if="ActiveCustomer" data-toggle="modal" data-target="#EditActiveCustomer"><i class="fa fa-edit"></i> </a>
                <h4>Customer Details</h4>
            </div>
            <div class="chat-available-user"  v-if="ActiveCustomer">
                <div class="py-3" style="padding:10px;">
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>{{ActiveCustomer.name}}</th>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <th>{{ActiveCustomer.email}}</th>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <th>{{ActiveCustomer.number}}</th>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <th>{{(ActiveCustomer.status == 0) ? "Closed":"Active"}}</th>
                    </tr>
                </table>
                </div>
            </div>
        </aside>

        <div class="modal" data-backdrop="static" id="EditActiveCustomer" tabindex="-1" role="dialog" aria-labelledby="EditActiveCustomerLabel" v-if="ActiveCustomer">
        <div class="modal-dialog modal-sm" role="document">
            <form action="" method="post" class="modal-content" @submit.prevent="EditCustomer">
            <div class="modal-header">
                <h4 class="modal-title" id="EditActiveCustomerLabel">Edit Customer</h4>
            </div>
            <div class="modal-body">
                <strong>{{ActiveCustomer.number}}</strong>
                <div class="form-group">
                    <label for="customer_edit_name">Name</label>
                    <input type="text" v-model="ActiveCustomer.name" id="customer_edit_name" class="form-control form-control-sm">
                </div>
                <div class="form-group">
                    <label for="customer_edit_email">Email</label>
                    <input type="text" v-model="ActiveCustomer.email" id="customer_edit_email" class="form-control form-control-sm">
                </div>
                <div class="form-group">
                    <label for="customer_edit_restaurant">Restaurant</label>
                    <input type="text" v-model="ActiveCustomer.restaurant" id="customer_edit_restaurant" class="form-control form-control-sm">
                </div>
                <div class="form-group">
                    <label for="customer_edit_location">Location</label>
                    <input type="text" v-model="ActiveCustomer.location" id="customer_edit_location" class="form-control form-control-sm">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" :disabled="isloading" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" :disabled="isloading" class="btn btn-primary">Save changes</button>
            </div>
            </form>
        </div>
        </div>        
        <create-customer :instance="instance" :after-success="GetClients" modal-id="NewCustomer"></create-customer>      
    </div>
</template>

<script>
import axios from 'axios'
import Pusher from 'pusher-js';

    export default {
        data() {
            return {
                ActiveCustomer:null,
                api:{
                    endpoint:"https://bitechat.herokuapp.com/",
                },
                text:"",
                file:null,
                isloading:false,
                customers:[],
                customer:{},
                active:false,
                add:{
                   number:"", 
                } 
            }
        },
        computed: {
            instance(){
                    let api = this.api;
                    let instance = axios.create({
                        baseURL: api.endpoint
                    })
                    return instance;
            },
            ActiveClients(){
                let customers = [];
                this.customers.forEach(customer => {
                    if(customer.status == 1){
                        customers.push(customer)
                    }
                });
                return customers;
            },
            InActiveClients(){
                let customers = [];
                this.customers.forEach(customer => {
                    if(customer.status == 0){
                        customers.push(customer)
                    }
                });
                return customers;
            },
        },
        mounted() {
            this.GetClients();
            var channel = this.$pusher.subscribe('my-channel');
            channel.bind('incoming', this.PushIN);

        },
        methods: {
        SendFile(event){
            this.file = event.target.files[0];
            // console.log(this.file)
        },  
        PushIN(data){
            console.log(data)
            var audio = new Audio();
            audio.src = "./slow-spring-board.mp3";
            for (let i = 0; i < this.customers.length; i++) {
                const element = this.customers[i];
                if(data.customer_id == element.id){                       
                    this.customers[i].chats.push(data);
                }
            }
            audio.play();
        },    
        SendMessage(){
            if(!this.text && this.file == null){
                return false;
            }
            let text = this.text;
                this.text = '';

            let formData = new FormData();
            if(this.file){
                formData.append("image", this.file);
            }
            formData.append("id", this.ActiveCustomer.id);
            formData.append("text", text);
            axios.post('send', formData, {
                headers: {
                'Content-Type': 'multipart/form-data'
                }
            })
            .then(res=>{
            })
            .catch(error=>{
                alert(error)
            })
            .then(res=>{
                this.file =null;
                this.GetClients()
            })
            
        },            
            GetChats(id,scroll=false){
                for (let i = 0; i < this.customers.length; i++) {
                    const element = this.customers[i];
                    if(element.id == id){
                        this.ActiveCustomer = this.customers[i];
                    }
                }
                setTimeout(() => {
                    let container = this.$el.querySelector("#chat_list");      
                    let shouldScroll = container.scrollTop + container.clientHeight === container.scrollHeight;
                    if (!shouldScroll || scroll) {
                        container.scrollTop = container.scrollHeight;
                    }                        
                }, 800);
            },
            UnreadCount(id){
                let i=0;
                this.customers.forEach(element => {
                    if(element.id == id){
                        element.chats.forEach(chat => {
                            if(chat.status == 1){
                                i++;
                            }
                        });
                    }
                });
                return i;
            },
            GetClients(){
                this.isloading = true;
                this.instance.get('customers')
                .then(res=>{
                    this.customers = res.data;
                    if(this.ActiveCustomer){
                        this.GetChats(this.ActiveCustomer.id,true)                        
                    }
                })
                .catch(error=>{
                    
                    })
                .then(res=>{
                    this.isloading = false;                 
                })
            },
            EditCustomer(){
                this.isloading = true;
                this.instance.put('customers/'+this.ActiveCustomer.id,this.ActiveCustomer)
                .then(res=>{
                    this.GetClients();
                    $('#EditActiveCustomer').modal('hide')
                })
                .catch(error=>{

                })
                .then(res=>{
                    this.isloading = false;
                })
            },
            EndChat(customer){
                let cms = this.ActiveCustomer;
                let confirm = window.confirm("Are you sure you want to end this chat?");
                if(!confirm){
                    return false;
                }
                this.instance.delete('customers/'+cms.id)
                .then(res=>{
                    this.ActiveCustomer = null;
                    this.GetClients();
                })
                .catch(error=>{

                })
                .then(res=>{
                    
                })
            },
        },
    }
</script>
