<template>
    <div>
        <div class="modal" data-backdrop="static" :id="modalId" tabindex="-1" role="dialog" :aria-labelledby="`${modalId}Label`">
            <div class="modal-dialog modal-sm" role="document">
                <form action="" method="post" class="modal-content" @submit.prevent="CreateCustomer">
                <div class="modal-header py-3">
                    <h4 class="modal-title" :id="`${modalId}Label`">Create Customer</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="New_number">Number</label>
                        <input type="text" v-model="customer.number" id="New_number" class="form-control form-control-sm">
                    </div>
                    <div class="form-group">
                        <div class="alert alert-danger" v-if="errors.length">
                            <span v-for="(error, e) in errors" :key="e">
                                <span v-for="(errorVal, e2) in error" :key="e2">
                                    {{errorVal}}
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="loader" v-if="isloading"></div>
                    <div v-else>
                        <button type="button" :disabled="isloading" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" :disabled="isloading" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props:{
        modalId:String,
        instance:Function,
        afterSuccess:Function,
    },
    data() {
        return {
            isloading:false,
            customer:{
                number:"",
            },
            errors:[]
        }
    },
    methods: {
        CreateCustomer(){
            this.errors = [];
            this.isloading = true;
            this.instance.post('customers',this.customer)
            .then(res=>{
                this.customer.number= "";
                $('#NewCustomer').modal('hide')
            })
            .catch(error=>{
                if(error.response){
                    if(error.response.status == 422){
                        let errors = Object.values(error.response.data.errors);
                        errors.forEach(element => {
                            this.errors.push(element)
                        });
                    }
                }
            })
            .then(res=>{
                this.isloading = false;
                this.afterSuccess();
            })
        },        
    },
}
</script>